* {
    /* background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); */
    font-family: cursive;
    margin: 0;
    padding: 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;    
}

.signup-header, .login-header{
    text-align: center;
    margin-top: 50px;
}

.form-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 700;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px; 
    margin-inline: auto; /*ek sth left, right margin ke ly */
}

.form-input {
    display: flex;
    flex-direction: column;
    border: none;
    width: 350px;
    padding: 12px;
    text-decoration: none;
    font-family: cursive;
    font-size: 18px;
    font-weight: 500;
}

.form-input input {
    border: 1px solid olive;
    height: 22px;
    margin-top: 6px;
    border-radius: 10px;
}

#email-text , #firstname-text , #pswd-text , #lastname-text, #confirmPswd-text, #loginFnametext, #loginPswd{
    color: red; 
    display: none;
    font-size: 15px;
}

.hide {
    display: none;
}
.show {
    display: unset;
}

.text2 {
   visibility: visible;
}

.checkbox {
    display: inline-block;
}

#btn, #loginBtn {
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}
