/* .form {
    width: 600px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    cursor: pointer;

}

.header {
    text-align: center;
}

.login-container {
    margin: 80px;
    margin-left: 80px;
}
#email {
    height: 28px;
    width: 400px;
    margin-bottom: 10px;
    background-color: rgb(167, 157, 157);
    font-size: 20px;
    font-weight: 600px;
    color: black;
}

#password {
    height: 28px;
    width: 400px;
    margin-bottom: 20px;
    background-color: rgb(167, 157, 157);
    font-size: 20px;
    font-weight: 600px;
    color: black;

}

#btn, #signUpBtn {
    background-color: teal;
    color: darkgray;
    padding: 9px;
    border:  1.5px solid darkgray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    display: inline;
    margin-left: 10px;
}
 
a {
    text-decoration: none;
}
#signUpBtn {
    margin-left: 10px;
    margin-right: 60px;
} */