body {
    margin: 0;
    background-image: url(sticky-notes-background.jpg);
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 16px;
    gap: 30px;

}

.notes {
    height: 250px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(236, 15, 15, 0.15);
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    outline: none;
}

.add-button {
    height: 250px;
    border: none;
    outline: none;
    background: gray;
    border-radius: 20px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.6);
    transition: background 0.2s;
}

.add-button:hover {
    background: darkgray;
}