* {
    /* background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); */
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.err {
    color: red;
    font-size: 12px;
    display: none;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.signup-header,
.login-header {
    text-align: center;
    margin-top: 50px;
}

.form-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 700;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px;
    margin-inline: auto;
    /*ek sth left, right margin ke ly */
}

.form-input {
    display: flex;
    flex-direction: column;
    border: none;
    width: 350px;
    padding: 12px;
    text-decoration: none;
    font-family: cursive;
    font-size: 18px;
    font-weight: 500;
}

.form-input input {
    border: 1px solid olive;
    height: 22px;
    margin-top: 6px;
    border-radius: 10px;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

.loginPswd {
    display: none;
}

.loginPswd2 {
    color: red;
    display: unset;
    font-size: 15px;
}


#email-text,
#firstname-text,
#pswd-text,
#lastname-text,
#confirmPswd-text,
#loginFnametext {
    color: red;
    display: none;
    font-size: 15px;
}



.text2 {
    visibility: visible;
}

.checkbox {
    display: inline-block;
}

#btn,
#loginBtn {
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}

body {
    margin: 0;
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 16px;
    gap: 30px;
    height: 100vh;
    background-image: url(sticky-notes-background.jpg);

}

.notes {
    height: 250px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(236, 15, 15, 0.15);
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    outline: none;
}

.add-button {
    height: 250px;
    border: none;
    outline: none;
    background: gray;
    border-radius: 20px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.6);
    /* transition: background 0.2s; */
}

.add-button:hover {
    background: darkgray;
}

.showNotes {
    display: unset;
}



.form {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    cursor: pointer;

}

.header {
    text-align: center;
}

.login-container {
    margin: 80px;
    margin-left: 80px;
}

#email {
    height: 28px;
    width: 400px;
    margin-bottom: 10px;
    background-color: rgb(167, 157, 157);
    font-size: 20px;
    font-weight: 600px;
    color: black;
}

#password {
    height: 28px;
    width: 400px;
    margin-bottom: 20px;
    background-color: rgb(167, 157, 157);
    font-size: 20px;
    font-weight: 600px;
    color: black;

}

#btn,
#signUpBtn {
    background-color: teal;
    color: darkgray;
    padding: 9px;
    border: 1.5px solid darkgray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    display: inline;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

#signUpBtn {
    margin-left: 10px;
    margin-right: 60px;
}